# --- Archivos de compilación de ESP-IDF ---
build/
sdkconfig
sdkconfig.old
dependencies.lock
managed_components/

# --- Archivos específicos de Espressif IDE / Eclipse ---
.settings/
.project
.cproject
.baseproject

# --- Archivos de sistema ---
.DS_Store
Thumbs.db

# --- Logs y temporales ---
*.log
